<html>
  <title>Phoenix Pilates Library | Admin</title>
  <link rel="stylesheet" type="text/css" href="/fonts.css">
  <link rel="stylesheet" type="text/css" href="/admin-style.css">
  <body>
    <script id="admin-bundle" type="text/javascript" src="/admin-bundle.js" data-session="<%- user %>"></script>
  </body>
</html>
