<html>
  <meta charset="utf-8" />
  <title>Phoenix Pilates Library | Admin</title>
  <link rel="stylesheet" type="text/css" href="/fonts.css">
  <link rel="stylesheet" type="text/css" href="/Draft.css">
  <body>
    <script id="phoenix-bundle" type="text/javascript" src="/admin-bundle.js" data-session="<%- user %>"></script>
  </body>
</html>
