<html>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.5">
  <title>Phoenix Pilates Library | Admin</title>
  <link rel="stylesheet" type="text/css" href="/fonts.css">
  <link rel="stylesheet" type="text/css" href="/Draft.css">
  <link rel="stylesheet" type="text/css" href="/admin-style.css">
  <link rel="stylesheet" type="text/css" href="/common-style.css">
  
  <body>
    <script id="phoenix-bundle" type="text/javascript" src="/dist/admin-bundle.js" data-session="<%- user %>"></script>
  </body>
</html>
