<html>
  <meta charset="utf-8" />
  <title>Phoenix Pilates Library</title>
  <link rel="stylesheet" type="text/css" href="/fonts.css">
  <link rel="stylesheet" type="text/css" href="/Draft.css">
  <script src="https://cdn.ravenjs.com/3.24.1/raven.min.js" crossorigin="anonymous"></script>
  <body>
    <script id="phoenix-bundle" type="text/javascript" src="/index-bundle.js" data-session="<%- user %>"></script>
  </body>
</html>
