<html>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.5">
  <title>Phoenix Pilates Library</title>
  <link rel="stylesheet" type="text/css" href="/fonts.css">
  <link rel="stylesheet" type="text/css" href="/Draft.css">
  <link rel="stylesheet" type="text/css" href="/slide-style.css">
  <link rel="stylesheet" type="text/css" href="/common-style.css">
  <body>
    <script id="phoenix-bundle" type="text/javascript" src="/dist/slide-bundle.js" data-session="<%- user %>" data-class-id="<%- classId %>" data-category-id="<%- categoryId %>" data-exercise-id="<%- exerciseId %>"></script>
  </body>
</html>
