body {
  background-color: #000;
  background: linear-gradient(0deg, #502b01 0, #000 100%);
  color: #fff;
  cursor: default;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 400%;
  color: #ccc;
  margin-top: 50px;
}

#springs img {
  border: 3px solid #fff;
  border-radius: 5px;
}